@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

form {
  width: 50%;
  border-bottom: 1px solid #cac9c9;
  padding: 20px;
}

.input-element {
  padding: 5px 0px;
  margin: 5px 0px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 30px;
  border: 1px solid #cac9c9;
  border-radius: 3px;
  padding: 5px;
}

.submit-btn {
  padding: 7px 30px;
  color: #fff;
  background-color: #218838;
  border: 1px solid #218838;
  border-radius: 5px;
}

.library {
  padding: 20px;
  width: 50%;
}

.library-header {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #cac9c9;
  padding-bottom: 10px;
}

.library-main {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
  gap: 10px;
}

.library-main > div {
  align-self: center;
}

.dlt {
  align-self: center;
  justify-self: center;
}

.record {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #cac9c9;
}

.record > div {
  padding: 10px;
}

.deleteBtn {
  width: 20px;
  height: 20px;
  background-color: #c82333;
  border: 1px solid #c82333;
  color: #fff;
  border-radius: 3px;
  align-self: center;
  justify-self: center;
}

.warning {
  color: #fff;
  background-color: #c82333;
  padding: 10px 10%;
  border-radius: 5px;
  margin: 10px;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.warning-hiden {
  position: static
}

.dlt {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #cac9c9;
  color: #857171;
  border-radius: 3px;
}

.dlt-header {
  visibility: hidden;
}

.title-header, .author-header, .pages-header, .read-header {
  font-weight: bold;
}

.read {
  text-decoration: underline;
}

@media (max-width: 800px) {
  form {
    width: 100%;
  }

  .library {
    width: 100%;
  }
}